<header class="page-header">
  <div class="container">
    <a class="logo" href="https://marksheet.io">
      MarkSheet
    </a>

    <p class="page-header-icons">
      <a href="https://twitter.com/{{ site.twitter.site }}" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://github.com/{{ site.github }}" target="_blank">
        <i class="fa fa-github"></i>
      </a>
    </p>

    {% unless page.layout == 'index' %}
      {% include share.html %}
    {% endunless %}
  </div>
</header>
